<p>
  Учебно-производственная база по свиноводству располагается в <i>п. Комсомольский Чамзинского района</i>, здесь находится действующий
  учебный свинокомплекс.
</p>

<img src="https://pbs.twimg.com/media/De90qltW4AMKN-I.jpg" />

<p>
  Практическое обучение проходит на базе <strong>собственного производства</strong> – свиноферме на 250 свиноматок с семидневным
  производственным циклом, оснащенной оборудованием датской фирмы Биг Дайчмен. Основной курс при этом включает рассмотрение следующих
  вопросов: организация содержания и кормления свиней, организация современной селекционной работы и организация ветеринарных мероприятий.
</p>

<img src="https://i.pinimg.com/originals/a3/ea/b2/a3eab2291aa16912bf4ae7efef554713.jpg" />

<p>
  На занятиях курсантов учат работать и использовать следующее оборудование и приборы: вентиляционную систему фирмы SKOV A/S, компьютеры
  регулирования микроклимата Euro Matic DOL 34H-1 и DOL 34H-2, оборудование для кормления свиней фирмы ROXELL, образцы кормов, измерительные
  ленты, термометры, весы, бирки, биркач, флакон со спермой, катетеры для искусственного осеменения, аппарат УЗИ, ветеринарные препараты,
  приборы для инъекций, щипцы для удаления клыков.
</p>

<p>Всем обучающимся, кроме проведения учебных занятий предоставляется:</p>
<ul>
  <li>Проживание в комфортных номерах</li>
  <li>Трехразовое питание</li>
  <li>Комплект информационных и методических материалов</li>
  <li>Спецодежда</li>
  <li>Трансферт</li>
</ul>





<p>Как только мы задумываемся о каком-либо упорядоченном архивировании информации, мы неизбежно приходим к мысли о создании базы данных. Создав
её, напрмер, в Microsoft Access, мы, облегчённо вздыхаем и на какое-то время успокаиваемся. Но это спокойствие длится не долго. И вот на
нашем горизонте уже маячит следующая задача, продиктованная жизненной необходимостью, - нужно обеспечить доступ к этим данным через internet
с рабочих станций, на которых, вполне возможно установлены, различные ОС.</p> 

<video>
  <source src="https://www.youtube.com/watch?v=ruz-vK8IesE">
 </video>

<p>Естественно не мы первые, кому необходимо разрешить задачу
подобного рода. Опыта других людей и средств для разрешению этой проблемы довольно много. Но хватит лирических отступлений. Мы воспользуемся
языком, который позволяет пользователям, знающим один набор команд, использовать их, чтобы создавать, отыскивать, изменять, и передавать
информацию, независимо от того, работают ли они на персональном компьютере, сетевой рабочей станции, или на универсальной ЭВМ. SQL символизирует собой Структурированный Язык Запросов. Это - язык, который дает вам возможность создавать и
работать в реляционных базах данных, которые являются наборами связанной информации сохраняемой в таблицах.</p>

<img src="https://i.ytimg.com/vi/1AlWNSqkYVE/maxresdefault.jpg"/>

<strong>Что такое - реляционная база данных?</strong>
<p>Реляционная база данных - это тело связанной информации, сохраняемой в двухмерных таблицах. Напоминает адресную или телефонную
книгу. В книге имеется большое количество входов, каждый из которых соответствует определенной особенности. Для каждой такой особенности,
может быть несколько независимых фрагментов данных, например имя, телефонный номер, и адрес. Предположим, что мы должны сформатировать эту
адресную книгу в виде таблицы со строками и столбцами. Каждая строка (называемая также записью) будет соответствовать определенной
особенности; каждый столбец будет содержать значение для каждого типа данных - имени, телефонного номера, и адреса представляемого в каждой
строке. Адресная книга могла бы выглядеть следующим образом:</p>
<table>
  <tr>
    <td>Имя</td>
    <td>Телефон</td>
    <td>Адрес</td>
  </tr>
  <tr>
    <td>Petrov</td>
    <td>3232323</td>
    <td>Address1</td>
  </tr>
  <tr>
    <td>Ivanov</td>
    <td>3636666</td>
    <td>Address2</td>
  </tr>
  <tr>
    <td>Sidoroff</td>
    <td>3434342</td>
    <td>Address3</td>
  </tr>
</table>

<p>То, что вы получили, является основой реляционной базы данных, как и было определено в начале этого обсуждения - а именно,
двухмерной (строка и столбец) таблицей информации. Однако реляционные базы данных редко состоят из одной таблицы. Такая таблица меньше, чем
файловая система. Создав несколько таблиц взаимосвязанной информации, вы сможете выполнить более сложные и мощные операции с вашими данными.
Мощность базы данных зависит от связи, которую вы можете создать между фрагментами информации, а не от самого фрагмента информации.</p>
